In [ ]:
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (2.2.3)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\himanshu\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting lxml
  Downloading lxml-6.0.0-cp311-cp311-win_amd64.whl.metadata (6.8 kB)
Downloading lxml-6.0.0-cp311-cp311-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ---------- ----------------------------- 1.0/4.0 MB 3.3 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/4.0 MB 2.6 MB/s eta 0:00:02
   --------------- ------------------------ 1.6/4.0 MB 2.1 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/4.0 MB 1.9 MB/s eta 0:00:02
   -------------------- ------------------- 2.1/4.0 MB 1.7 MB/s eta 0:00:02
   -------------------- ------------------- 2.1/4.0 MB 1.7 MB/s eta 0:00:02
   -------------------- ------------------- 2.1/4.0 MB 1.7 MB/s eta 0:00:02
   ----------------------- ---------------- 2.4/4.0 MB 1.4 MB/s eta 0:00:02
   -------------------------- ------------- 2.6/4.0 MB 1.3 MB/s eta 0:00:02
   ---------------------------- ----------- 2.9/4.0 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/4.0 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.4/4.0 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 3.7/4.0 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 1.3 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.0

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [3]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [5]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables =pd.read_html(URL)
df=tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']

In [6]:
df.head()

         Country GDP (Million USD)
1  United States          26854599
2          China          19373586
3          Japan           4409738
4        Germany           4308854
5          India           3736882

In [7]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [8]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

In [9]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

In [10]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [11]:
df.to_csv("./GDP_data.csv")

In [13]:
# df.load_csv("./hello.csv")